.center {
    text-align: center;
    vertical-align: top;
}
h1{
    font: 45px arial, sans-serif;
    margin-top: -5px;
    
}
h2{
    font: 18px arial, sans-serif;
    margin-top: -5px;
}
h3{
    font: 14px arial, sans-serif;
    margin-top: -13px;
}
ul{
    margin-top: -14px;
}
li {
    font: 14px arial, sans-serif;
}
p {
    margin-top: -10px;
    font: 14px arial, sans-serif;
}
.closer {
    margin-top: -22px;
}
.env {
    margin-top: -22px;
}
.row {
    max-width: 1000px;
    margin: auto;
}

.left {
    width: 700px;
    float: left;
    padding: 10px;
    margin-left: 0px;
}
.right {
    width: 300px;
    padding: 10px;
    padding-left: 710px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.share-buttons {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}
